:root {
  /* 🎨 Main Colors */
  --primary: #5b8cc9;
  --primary-light: #e7f0fb;

  /* 🟦 Sidebar */
  --sidebar-bg: linear-gradient(180deg, #6ea8dc, #5b8cc9);
  --sidebar-text: #ffffff;
  --sidebar-hover: rgba(255, 255, 255, 0.15);

  /* ⚪ Background */
  --main-bg: #f4f7fb;
  --card-bg: #ffffff;

  /* 🟩 Status Colors */
  --success: #4caf93;
  --success-bg: #dff5ee;

  --warning: #f4a261;
  --warning-bg: #fdebdc;

  --danger: #e76f51;
  --danger-bg: #fde2dc;

  /* 📝 Text */
  --text-dark: #2c3e50;
  --text-light: #7b8a97;

  /* 🟫 Borders & Shadow */
  --border: #e0e6ed;
  --shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}
.register {
  min-height: 100vh;
  /* background-color: #dae2e0; */
  background-color: #dceae6;
}

.register .theForm {
  background-color: white;
  border-radius: 10px;
  box-shadow: var(--shadow);
}
.register .theForm input {
  padding: 5px;
  border-radius: 10px;
  box-shadow: var(--shadow);
  caret-color: #5b8cc9;
}
.register .theForm button {
  font-weight: 600;
  box-shadow: 0 10px 25px rgba(94, 131, 176, 0.25);
}
.register h2 {
  color: #5b8cc9;
  font-weight: 700;
}
.register .msg {
  background-color: #dee0e1;
  color: #2c3e50;
  color: #e76f51;
  padding: 10px;
  font-weight: 600;
  border-radius: 6px;
  margin: 0 !important;
}

.dis {
  pointer-events: none;
  background-color: #a3a9b0 !important;
  cursor: not-allowed !important;
  opacity: 0.8;
  box-shadow: none !important;
}

.option div {
  background-color: #5b8cc9;
  padding: 5px;
  font-weight: 600;
  color: white;
  cursor: pointer;
}
.option .Reg {
  border-radius: 6px 0 0 6px;
  border-right: 1px solid var(--border);
}
.option .Log {
  border-radius: 0 6px 6px 0;
}

.dis2 {
  background-color: #f1f5f9 !important;
  opacity: 0.8;
  box-shadow: none !important;
  color: #5b8cc9 !important;
}
